body {
    background-color: brown;
}

#container {
    width: 70%;
    margin: 50px auto;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: bisque;
    color: darkgreen;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    border-radius: 30px;
}